body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

.titlu {
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: #339933;
    font-size: 80px;
    margin-left: 43%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    margin: 70px 0px 0px 0px;
    color: #339933;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: left;
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.fundal {
    background: white;
    border: 3px #f1f1f1;
    box-shadow: 2px 3px 60px 3px #339933;
    text-align: left;
}

#Buton {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: #4CAF50;
    border:solid green;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
    transition-duration: 0.2s;
}

#Buton:hover {
    background-color: #4CAF50; 
    color: white;
    box-shadow: 2px 3px 20px 3px #339933;
}

#name, #comentariu {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 3px 10px 3px #339933;
    border:solid green;
    font-family: 'Open Sans', sans-serif;
}

#comentariu {
    height: 100px;
    width: 300px;
}